<div class="container">
  <div id='sound' class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Wip</h2>
    <p>Annas Peitsche <strong>Achtung</strong></p>
    <%= audio_tag "wip.wav",  id: 'wip' %>
  </div>
</div>








