.card-product {
  height: 150px;
  position: relative;
  display:flex;
  justify-content: center;

}

.card-product img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 150px;
  text-align: center;
}


