.card-product {
  height: 150px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 0;

}


.card-product img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  margin: 55px 0 0 10px;
  position: absolute;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 132px;
  border-radius: 1px;
  text-align: left;
  padding-left: 0.5rem;
}


